/*BASIC*/

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #eee;
}

/*HEADER*/
.header {
  height: 25px;
  background: #222;
  color: #eee;
  text-align: center;
  font: 10px/25px Helvetica, Verdana, sans-serif; 
}

.header a {
  color: #999;
}

/*LIST*/
ul {
  list-style: none;
}

/*FORM*/
form {
  margin: 50px;
}

input {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label {
  display: block;
  height: 330px;
  width: 50px;
  background-color: #38ADE2;
  text-align: center;
  font: 14px/50px Helvetica, Verdana, sans-serif;
  margin-bottom: 10px;
  float: left;
  overflow: hidden;

  -webkit-transition: width 1s ease, background 0.5s ease;
  -moz-transition: width 1s ease, background 0.5s ease;
  -o-transition: width 1s ease, background 0.5s ease;
  -ms-transition: width 1s ease, background 0.5s ease;
  transition: width 1s ease, background 0.5s ease;
}

#rad2 + label {
  background-color: #38ADE2;
  border-left:1px solid #1983B3;
  border-right:1px solid #1983B3;

  -webkit-transition: width 1s ease, background 0.5s ease;
  -moz-transition: width 1s ease, background 0.5s ease;
  -o-transition: width 1s ease, background 0.5s ease;
  -ms-transition: width 1s ease, background 0.5s ease;
  transition: width 1s ease, background 0.5s ease;
}
#rad1 + label{border-right:1px solid #66D0E8;}
#rad3 + label{border-left:1px solid #66D0E8;}
label:hover, #rad2 + label:hover {
  background: #1983B3;
  color: #fff;
  cursor: pointer;
}

/*SLIDES*/
.accslide {
  color: #333;
  display: block;
  height: 330px;
  width: 0px;
  background: #fff;
  font: 12px/1.5 Helvetica, Verdana, sans-serif;
  padding: 10px 0;
  float: left;
  overflow: hidden;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.accslide p, h2, img {
  width: 420px;
  padding-left: 10px;
}

.accslide img {
  margin-top: 10px;
  max-height: 247px;
  max-width: 480px;
}

input[type="radio"]:checked+label ~ .accslide {
  width: 450px;
  border:1px dashed #6EDAF7;
}
